.heroSection {
  height: 100%;
  background-image: url("../../img/Stormtrooper-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  padding: 9rem 1rem !important;
}

.heightOverride {
  height: 100%;
}

.heroContainer {
  padding: 0 0 0 7.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  text-align: left;
}

.heroTitle {
  font-weight: 700;
  font-size: 4.2rem;
}

.heroDescription {
  font-size: 1.6rem;
  font-weight: 500;
}

.heroButtons {
  display: flex;
  gap: 1.5rem;
}
