.heroSection {
  position: relative;
  flex-direction: column;
  background-image: url('../../img/Hero-image.jpg');
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.heroOverlay {
  z-index: 0;
  height: 100%;
  width: 100%;
  background: rgba(11, 34, 114, 0.5); 
}