.heroSection {
  height: 70rem;
  background-image: none;
  background-color: #111;
  z-index: -1;
  background-image: url("../../img/hero-section/mobile-hero-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@media (min-width: 300px) {
  .heroSection {
    height: 60rem;
  }
}

@media (min-width: 450px) {
  .heroSection {
    height: 50rem;
  }
}

@media (min-width: 992px) {
  .heroSection {
    background-image: url("../../img/hero-section/Stormtrooper-hero.jpg");
  }
}

.fullHeight {
  height: 100%;
}

.heroContainer {
  padding: 4rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 992px) {
  .heroContainer {
    align-items: flex-start;
    text-align: left;
  }
}

.heroTitle {
  font-weight: 700;
  font-size: 4.2rem;
}

.heroDescription {
  font-size: 1.6rem;
  font-weight: 500;
}

.heroButtons {
  display: flex;
  gap: 1.5rem;
}

.heroLink {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.featuredHeading {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.075rem;
  font-weight: 700;
  color: #888;
}

.featuredLogos {
  display: flex;
  justify-content: space-around;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.featuredSection {
  gap: 1.5rem;
}

.featuredSubHeading {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.075rem;
  font-weight: 700;
  color: #888;
}

.featuredIcons {
  height: 4rem;
  filter: brightness(0);
  opacity: 50%;
}
