.heroSection {
  height: 100%;
  background-image: url("../../img/hero-section/Stormtrooper-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  padding: 9rem 1rem !important;
}

.heightOverride {
  height: 100%;
}

.heroContainer {
  padding: 0 0 0 7.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  text-align: left;
}

.heroTitle {
  font-weight: 700;
  font-size: 4.2rem;
}

.heroDescription {
  font-size: 1.6rem;
  font-weight: 500;
}

.heroButtons {
  display: flex;
  gap: 1.5rem;
}

.featuredHeading {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.075rem;
  font-weight: 700;
  color: #888;
}

.featuredLogos {
  display: flex; 
  justify-content: space-around;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.featuredSection {
  gap: 1.5rem;
}

.featuredSubHeading {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.075rem;
  font-weight: 700;
  color: #888;
}

.featuredIcons  {
  height: 4rem;
  filter: brightness(0);
  opacity: 50%;
}

.facebookLogo {
  filter: invert(41%) sepia(20%) saturate(1602%) hue-rotate(182deg) brightness(89%) contrast(92%);
}