.containerStyle {
  font-size: 1.8rem;
}
.justify {
  display: flex;
  justify-content: start;
}

.list {
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.list a {
  text-decoration: none;
  color: #212529;
}

.secondaryButton {
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  background-color: #fff;
  color: #212529;
  border: 0.1rem solid #212529;
}

.primaryButton {
  color: #fff;
  background-color: #0b2272;
  border: 0.1rem solid #0b2272;
  border-radius: 0.5rem;
  font-weight: 700;
  padding: 0.5rem 0.7rem;
}

.icon {
  color: #000;
  height: 2.5em;
}

.mobileLink {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.closeNav {
  color: #fff;
}

.fixedNav {
  position: relative;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navElement {
  display: flex;  
  gap: 1rem;
  align-items: center;
}