.containerStyle {
  font-size: 1.6rem;
  font-weight: 700;
}

.justify {
  display: flex;
  justify-content: flex-start;
}

.list {
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.list a {
  text-decoration: none;
  color: #212529;
}

.secondaryButton {
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  background-color: #fff;
  color: #212529;
  border: 0.1rem solid #212529;
  font-weight: 700;
}

.primaryButton {
  color: #fff;
  background-color: #0b2272;
  border: 0.1rem solid #0b2272;
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  font-weight: 700;
}

.icon {
  color: #000;
  height: 2.5em;
}

.mobileIcon {
  width: 1.6rem;
  height: 1.6rem;
  color: inherit !important;
}

.mobileNavHeading {
  position: relative;
  top: 4.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
}

.mobileNavHeading h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff !important;
}

.fixedNav {
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobileLink {
  text-decoration: none;
  display: flex;  
  gap: 1rem;
  align-items: center;
  width: 25rem;
  margin: 0.7rem 1.5rem;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  color: #fff;
  transition: all 0.15s;
}

.mobileLink:hover, .mobileLink:active {
  background-color: #fff;
  color: #0b2272 !important;
}

.mobileNavFooter {
  border-top: 1px solid #fff;
  position: relative;
  top: 5.3rem;
  right: 0rem;
  padding: 1rem 3rem;
  font-size: 1.2rem;
}