#dismiss {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#dismiss:hover {
  cursor: pointer;
}

.mobileIcon {
  width: 1.6rem;
  height: 1.6rem;
  color: inherit !important;
}

.mobileNav {
  position: relative;
  top: 4.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: inherit;
}

.mobileNav h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff !important;
}

.mobileLink {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1.5rem;
  color: inherit;
  transition: all 0.15s;
}

.mobileLink:hover,
.mobileLink:active {
  background-color: #fff;
  color: #0b2272 !important;
}

.animate__animated.animate__slideInRight,
.animate__animated.animate__slideOutRight {
  --animate-duration: 1s;
}
