.sidebar {
  position: fixed;
  width: 70%;
  height: 100vh;
  top: 0;
  right: 0;
  /* top layer */
  z-index: 1000;
  background-color: #0b2272;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
}