#contact-us {
  font-size: 1.6rem;
}

.contact-form-description {
  font-size: 1.2rem;
}

.required:after {
  content: '*';
  color: #c00;
  margin-left: 0.2rem;
}

.form-control-override {
  font-size: 1.6rem !important;
  text-align: left;
}

.form-label {
  font-weight: 500;
}

.input-error {
  border: 0.1rem solid #f00 !important;
  background-color: #ffc9c9 !important;
}

.label-error {
  color: #c00;
}

.has-error {
  color: #c00;
  text-align: left !important;
}