.listen-now-section {
  font-size: 1.8rem;
  text-align: left !important;
  color: #fff;
  font-weight: 600;
  margin: 4rem 0 !important;
  padding: 3rem 3.5rem;
  border: 0.1rem solid #333;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  background: rgb(0, 25, 91);
  background: linear-gradient(
    117deg,
    rgba(0, 25, 91, 0.9626444327731093) 0%,
    rgba(0, 44, 111, 0.9682466736694678) 50%,
    rgba(0, 40, 122, 0.9542410714285714) 100%
  );
}

@media (min-width: 768px) {
  .gap {
    gap: 0rem;
  }
}

@media (max-width: 768px) {
  .gap {
    gap: 3rem;
  }
}

.listenLogos {
  display: flex !important;
  justify-content: center !important;
}

.logoImages {
  display: inline-flex;
  gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
}

.soloLogo {
  height: 7rem;
}

.iFrame {
  height: 17rem;
}
