@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Sarabun:wght@400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  text-align: left;
}

.secondaryButton {
  border-radius: 1.5rem;
  padding: 0.8rem 2rem;
  background-color: #fff;
  color: #212529;
  /* border: 0.2rem solid #212529; */
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.secondaryButton:hover {
  color: #212529;
  background-color: #ccc;
}

.primaryButton {
  color: #fff;
  background-color: #0b2272;
  border: 0.2rem solid #fff;
  border-radius: 1.5rem;
  padding: 0.8rem 2rem;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.primaryButton:hover {
  color: #fff;
  background-color: #01457B;
}

.disabledButton {
  color: #212529;
  background-color: #EBEBE4;
  border: 0.2rem solid #fff;
  border-radius: 1.5rem;
  padding: 0.8rem 2rem;
  font-weight: 700;
  font-size: 1.6rem;
}

h2, h3 {
  color: #01457B;
  font-weight: 700 !important;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  margin: 0 !important;
}

p {
  margin: 0 !important;
  padding: 0;
  line-height: 1.7;
}

ul, ol {
  padding: 0 !important;
  margin: 0 !important;
}

textarea {
  resize: none !important;
}

.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms ease;
}

.slide-in-right-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 500ms ease;
}

/*   FONT SIZE SYSTEM  */
/* small: 1.4rem
medium: 1.8rem
large: 2.4rem
x-large: 3rem */

/**  COLOR SCHEME  **/
/* Main color: #0b2272
Secondary color: #01457B */
