@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Sarabun:wght@400;500;700&display=swap');

html, body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

/*   FONT SIZE SYSTEM  */
/* small: 1.4rem
medium: 1.8rem
large: 2.4rem
x-large: 3rem */

/**  COLOR SCHEME  **/
/* Main color: 
Secondary color: */
